{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  // This substitutes the @babel/polyfill plugin previously part of the @babel/core package
  // Source: https://babeljs.io/docs/en/babel-polyfill
  "plugins": [["@babel/plugin-transform-runtime"]]
}
